[features]
seeds = false
skip-lint = false

[programs.localnet]
moltflip = "MoltFlip111111111111111111111111111111111" # placeholder

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
